<h1> Notes </h1>
<% @notes.each do |note| %>
  <%# <%= binding.pry %>
  <h2><%= note.title %></h2>
  <%= link_to 'Show', note_path(note) %>
  <%= link_to 'Edit', edit_note_path(note) %>
  <%= link_to 'Delete', note, method: :delete %>
<% end %>
<p><%= link_to 'New Note', new_note_path %></p>